:root body {
  --theme-color: hsl(120, 100%, 100%);
  --theme-color-secondary: hsl(120, 100%, 100%, 0.5);
  --theme-color-tertiary: hsl(120, 0%, 50%, 0.2);

  --color-font: hsl(212, 14%, 25%);
  --color-success: hsl(130, 56%, 40%);
  --color-alert: hsl(0, 100%, 40%);
  --color-warn: hsl(50, 100%, 40%);
  --color-sky: hsl(200, 100%, 50%);
  --color-disabled: hsl(0, 0%, 65%);

  --color-border: hsla(0, 0%, 0%, 0.35);

  --size-letter-square: 4rem;
  --size-keyboard-key: calc(var(--size-letter-square) / 1.35);

  --anim-duration: 500ms;
  --anim-letter-pop: calc(var(--anim-duration) * 0.5) 1 pop;
  --anim-fadeIn: var(--anim-duration) 1 fadeIn;
  --anim-pulse: calc(var(--anim-duration) * 2) infinite pulse ease-in-out;
  --anim-flip: calc(var(--anim-duration) * 1.5) 1 flip;

  --COMP-GRADIENT-BKG: linear-gradient(
    to right,
    transparent,
    var(--theme-color-tertiary),
    var(--theme-color-tertiary),
    var(--theme-color-tertiary),
    transparent
  );

  --frame-height: 65%;
  --keyboard-height: 29%;

  --frame-height-landscape: 65%;
  --keyboard-height-landscape: 35%;

  --navbar-heigth: calc(
    calc(100% - var(--keyboard-height) - var(--frame-height)) / 2
  );
  --footer-height: calc(
    calc(100% - var(--keyboard-height) - var(--frame-height)) / 2
  );

  --GLOBAL-MAX-WIDTH: 550px;
}

:root body.theme-dark {
  --theme-color: hsl(240, 3%, 7%);
  --theme-color-secondary: hsla(240, 3%, 7%, 0.5);
  --theme-color-tertiary: hsla(240, 26%, 87%, 0.35);

  --color-border: hsla(0, 0%, 100%, 0.35);
  --color-font: hsl(0, 0%, 98%);
  --color-success: hsl(130, 56%, 71%);
  --color-alert: hsl(0, 100%, 71%);
  --color-warn: hsl(50, 100%, 71%);
  --color-sky: hsl(200, 100%, 81%);
  --color-disabled: hsl(0, 0%, 90%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: var(--theme-color);
  color: var(--font-color);
  overflow: hidden;

  /* prevents user selection */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
  min-height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: background var(--anim-duration), color var(--anim-duration);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dialog,
fieldset {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

@keyframes pop {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
